footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #392e5a;
  color: white;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  /* margin-top: 20px; */
}

footer div {
  text-align: center;
}

footer div p {
  margin: 10px 0;
}

footer div a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

font div a:hover {
  color: black;
}
